name: Python application

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        name: checkout code

      - name: Deploy vai smithers
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{secrets.SSH_HOST}}
          username: ${{secrets.SSH_USERNAME}}
          key: ${{secrets.SSH_PASSWORD}}
          script: |
            cd /home/${{secrets.SSH_USERNAME}}
            git pull origin main
            export DB_user=${{secrets.db_user}}
            export DB_pass=${{secrets.db_pass}}
            docker compose -f ./DockerCompose/Deployapp.yaml up --build
