# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flask 
        pip install psycopg2
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - uses: actions/checkout@v3
      name: Check out code

    - uses: mr-smithers-excellent/docker-build-push@v6
      name: Build and push python code
      with:
        image: rahulsuthar007/webapp
        tags: webapp_python_${{ github.ref_name}}
        registry: docker.io
        dockerfile: ./Docker/Dockerfile
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - uses: mr-smithers-excellent/docker-build-push@v6
      name: Build and push databse postgress code
      with:
        image: rahulsuthar007/webapp
        tags: webapp_postgress_databse_${{ github.ref_name}}
        registry: docker.io
        dockerfile: ./Docker-postgress-sql/Dockerfile
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
